[Main]
#when running in xwindows,mac,win this will show hud in window if set.
#window=640,480
#window=800,600
#window=1024,768
#window=1280,720



# define the drawable area for hud to use.  Useful on displays that have hidden areas.
# this is defined as x1,y1,x2,y2 to draw up a box of usable area.
# drawable_area=0,113,1280,610 (Mag Hdg Gone, Ball Good)
# drawable_area=0,159,1280,651  RV8 20Oct22
# last working test drawable_area=0,180,1280,640
drawable_area=0,170,1280,645

screen = F18_HUD

maxframerate = 30

ignore_traffic_beyound_distance = 5

[F18_HUD]

# show lat/lon default is false
show_lat_lon = false


[HUD]

# default = 5
vertical_degrees = 1

# default = 30
vertical_pixels_per_degree = 6

# Set Horizon Center Offset in Pixels (- = Up/+ = Down)
# default = 0
Horizon_Offset = -100

#  HUD Center Circle Mode
#  center_circle = 1  #  Center Mark = Circle
#  center_circle = 3  #  Center Mark = + for Gub Cross
#  center_circle = 4  #  Center Mark = W for Waterline


#self.ahrs_line_deg=hud_utils.readConfigint("HUD","vertical_degrees",5)
#fov_x = 12
fov_x = 12

show_traffic_within_miles = 5

[Formats]

speed_distance = Knots
temperature = F

[DataInput]
inputsource =serial_mgl
port=/dev/ttyS0

[DataInput2]
inputsource=stratux_wifi


[Stratux]
# To ignore ahrs data from stratux set use_ahrs=false, defaults to true
use_ahrs = false

[TrafficScope]
# Traffic Scope settings.

# target font size default 16
#target_font_size = 16

# show target lat/lon default is false
target_show_lat_lon = false
